/* line 2, ../sass/utilities/_base.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 3, ../sass/utilities/_base.scss */
audio:not([controls]) {
  display: none;
}

/* line 4, ../sass/utilities/_base.scss */
[hidden] {
  display: none;
}

/* line 6, ../sass/utilities/_base.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 7, ../sass/utilities/_base.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 8, ../sass/utilities/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 10, ../sass/utilities/_base.scss */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 11, ../sass/utilities/_base.scss */
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 13, ../sass/utilities/_base.scss */
a {
  color: #000;
}

/* line 14, ../sass/utilities/_base.scss */
a:focus {
  outline: thin dotted;
}

/* line 15, ../sass/utilities/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* line 17, ../sass/utilities/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 18, ../sass/utilities/_base.scss */
b, strong {
  font-weight: bold;
}

/* line 19, ../sass/utilities/_base.scss */
em, i, dfn {
  font-style: italic;
}

/* line 20, ../sass/utilities/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 21, ../sass/utilities/_base.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 22, ../sass/utilities/_base.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 23, ../sass/utilities/_base.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 24, ../sass/utilities/_base.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 25, ../sass/utilities/_base.scss */
small {
  font-size: 85%;
}

/* line 26, ../sass/utilities/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 27, ../sass/utilities/_base.scss */
sup {
  top: -0.5em;
}

/* line 28, ../sass/utilities/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 30, ../sass/utilities/_base.scss */
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 31, ../sass/utilities/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 33, ../sass/utilities/_base.scss */
label {
  cursor: pointer;
}

/* line 34, ../sass/utilities/_base.scss */
legend {
  *margin-left: -7px;
  white-space: normal;
}

/* line 35, ../sass/utilities/_base.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 36, ../sass/utilities/_base.scss */
button, input {
  line-height: normal;
}

/* line 37, ../sass/utilities/_base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 38, ../sass/utilities/_base.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 39, ../sass/utilities/_base.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 40, ../sass/utilities/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 41, ../sass/utilities/_base.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 42, ../sass/utilities/_base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 43, ../sass/utilities/_base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 45, ../sass/utilities/_base.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 47, ../sass/utilities/_base.scss */
td {
  vertical-align: top;
}

/* line 1, ../sass/blocks/_b-vitrina.scss */
.b_vitrina {
  background: #bfe3a7;
  overflow: hidden;
}

/* line 8, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__list {
  font-size: 0;
}

/* line 12, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__item {
  font-size: 13px;
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  background: #fff4d8;
}
/* line 23, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__item:nth-child(1) {
  opacity: 1;
}
/* line 27, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__item:nth-child(2) {
  opacity: 0.4;
}
/* line 31, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__item:nth-child(3) {
  opacity: 0.6;
}
/* line 35, ../sass/blocks/_b-vitrina.scss */
.b_vitrina__item:nth-child(4) {
  opacity: 0.1;
}
