.b-menu {


	background: #e38ca9;
	position: fixed;
	left: 0;
	width:inherit;
	top: 100px;
	bottom: 0;


}


.b-menu__list {
	background: #569de3;
	position: absolute;
	width: 100%;
}

.b-menu__item {
	background: #569de3;
	position: absolute;
	width: 100%;
}