.b-menu {


	background: #e3d8db;
	position: fixed;
	left: 0;
	width:inherit;
	top: 100px;
	bottom: 0;


}


.b-menu__list {
	background: #e3e1e1;
	position: absolute;
	width: 100%;
}

.b-menu__item {
	background: #f0f7ec;
	position: absolute;
	width: 100%;
}